.card {
  position: relative;
}
.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent url("../images/delete-button.svg");
  height: 32px;
  width: 32px;
  border: none;
}

.card__delete-button:hover {
  background-image: url("../images/delete-button-hover.svg");
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 0;
}

.card__title {
  margin: 0;
  max-width: 350px;
  font-family: Poppins, "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url("../images/heart.svg") center no-repeat;
  height: 20px;
  width: 23px;
  border: none;
  opacity: 40%;
  transition: opacity 0.25s ease 0.15s;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__like-button_liked {
  background-image: url("../images/Liked-button.svg");
  opacity: 100%;
}

.card__like-button_liked:hover {
  background-image: url("../images/liked-hover.svg");
}

@media screen and (max-width: 661px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
  }

  .card__like-button {
    background-image: url("../images/small-like-button.svg");
  }
}
